# Python Crash Course

In [6]:
1

1

In [7]:
1.0

1.0

In [8]:
type(1)

int

In [9]:
type(1.0)

float

In [10]:
1+1

2

In [11]:
1*3

3

In [12]:
1/2

0.5

In [13]:
2**4

16

In [14]:
4 % 2

0

In [15]:
5 % 2

1

In [17]:
(2 + 3) * (5 + 5)

50

In [19]:
name_of_var=2

In [20]:
x=1
y=2

In [21]:
x+y

3

In [22]:
'string'

'string'

In [23]:
"double"

'double'

In [25]:
"I don't like that"

"I don't like that"

In [27]:
print("hello")

hello

In [28]:
"hello"

'hello'

In [32]:
print("My Name is {}, my number is {}".format("Fede", '10'))

My Name is Fede, my number is 10

In [34]:
print("First:{y}, Second:{x}".format(x="XXX", y="YYY"))

First:YYY, Second:XXX

In [35]:
[1,2,3]

[1, 2, 3]

In [36]:
['a','b','c']

['a', 'b', 'c']

In [37]:
[1,'a']

[1, 'a']

In [38]:
mylist=['a','b','c']

In [39]:
mylist[0]

'a'

In [40]:
mylist[-1]

'c'

In [41]:
mylist[2]

'c'

In [42]:
mylist[0]='NEW'

In [43]:
mylist

['NEW', 'b', 'c']

In [44]:
mylist.append('d')

In [45]:
mylist

['NEW', 'b', 'c', 'd']

In [46]:
mylist=[1,2,[100,200]]

In [47]:
mylist

[1, 2, [100, 200]]

In [48]:
mylist[2]

[100, 200]

In [49]:
mylist[2][1]

200

In [50]:
d={'key1':'value1','key2':'value2'}

In [53]:
d['key2']

'value2'

In [54]:
print(d)

{'key1': 'value1', 'key2': 'value2'}

In [55]:
True

True

In [56]:
False

False

In [57]:
t = (1,2,3)

In [58]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [59]:
{1,2,3}

{1, 2, 3}

In [60]:
{1,1,1,1,1,2,2,2,2,3,3,3,3}

{1, 2, 3}