# Spark DataFrame Basics

In [3]:
import findspark
findspark.init('/home/fede/spark-2.1.0-bin-hadoop2.7')

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [18]:
file_path = '/home/fede/spark-2.1.0-bin-hadoop2.7/python/test_support/sql/people.json'
df = spark.read.json(file_path)

In [19]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [10]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [12]:
df.columns

['age', 'name']

In [14]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [15]:
from pyspark.sql.types import (StructField, StringType, 
                               IntegerType,StructType)

In [16]:
data_schema = [StructField('age',IntegerType(),True),
              StructField('name',StringType(),True)]

In [17]:
final_struc = StructType(fields=data_schema)

In [20]:
df = spark.read.json(file_path,schema=final_struc)

In [21]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [22]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [24]:
type(df['age'])

pyspark.sql.column.Column

In [25]:
df.select('age')

DataFrame[age: int]

In [26]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [27]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [30]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [31]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [33]:
df.withColumn('doubleage',df['age']*2).show()

+----+-------+---------+
| age|   name|doubleage|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [34]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [35]:
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [36]:
df.createOrReplaceTempView('people')

In [37]:
results= spark.sql("SELECT * FROM people")

In [39]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [41]:
new_results = spark.sql("SELECT * FROM people WHERE age=30")

In [42]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+